<h1 style="text-align: center; font-weight: bold;">Data Sciense Course - Spring 1403</h1>
<h1 style="text-align: center; font-weight: bold;">Computer Assignment 3 - Introduction to Data Science </h1>
<h1 style="text-align: center;">Mohammadreza Mohammadhashemi : 810100206</h1>
<h1 style="text-align: center;">Soheil Hajian Manesh : 810100119</h1>
<h1 style="text-align: center;">Mahdi Ebrahimi Soltani : 810100241</h1>

# Problem Description
In this assignment, we work with PySpark, which is the Python API for Apache Spark. It enables performing real-time, large-scale data processing in a distributed environment using Python.

In [1]:
from IPython.display import display, HTML
display(HTML('<style>pre { white-space: pre !important; }</style>'))

In [57]:
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.types import StructType, StructField, FloatType, DateType, LongType
from pyspark.sql.functions import year
from pyspark.sql.functions import month
from pyspark.sql.functions import min
from pyspark.sql.functions import stddev
from pyspark.sql.functions import mean

# Warm-Up!

In [19]:
def show_dataframe_info(df: DataFrame,num_of_rows=10):
    print("Schema:")
    df.printSchema()
    print(f"Number of Rows: {df.count()}")
    print("First Few Rows:")
    df.show(num_of_rows)

## Question 1,2: Read & findout schema of data.

In [4]:
spark = SparkSession.builder.getOrCreate()

schema = StructType([
    StructField("Date", DateType(), True),
    StructField("Open", FloatType(), True),
    StructField("High", FloatType(), True),
    StructField("Low", FloatType(), True),
    StructField("Close", FloatType(), True),
    StructField("Volume", LongType(), True),
    StructField("Adj Close", FloatType(), True)
])

df = spark.read.option("header", True).schema(schema).csv("stocks.csv")

show_dataframe_info(df,10)

24/04/16 14:30:18 WARN Utils: Your hostname, IdeaPad-5-15ITL05-55a06dec resolves to a loopback address: 127.0.1.1; using 172.20.10.12 instead (on interface wlp0s20f3)
24/04/16 14:30:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/16 14:30:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Schema:
root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: float (nullable = true)

Number of Rows: 1762
First Few Rows:
+----------+---------+---------+---------+---------+---------+---------+
|      Date|     Open|     High|      Low|    Close|   Volume|Adj Close|
+----------+---------+---------+---------+---------+---------+---------+
|2010-01-04|   213.43|    214.5|   212.38|   214.01|123432400| 27.72704|
|2010-01-05|214.59999|   215.59|   213.25|214.37999|150476200|27.774977|
|2010-01-06|214.37999|   215.23|   210.75|   210.97|138040000|27.333178|
|2010-01-07|   211.75|    212.0|   209.05|   210.58|119282800| 27.28265|
|2010-01-08|210.29999|    212.0|   209.06|211.98001|111902700|27.464033|
|2010-01-11|    212.8|    213.0|208.45001|   210.11|115557400|27.221758|
|2010-01-12|   209.19|209.76999|   206.42|   207.72|148614900| 26.91211|
|2010-01-13|207.87001|   210.93|204.09999|210.65001|151473000| 27.29172|
|2010-01-14|   210.11|210.45999|   209.02|   209.43|108223500|27.133657|
|2010-01-15|   210.93|211.59999|   205.87|   205.93|148516900|26.680199|
+----------+---------+---------+---------+---------+---------+---------+
only showing top 10 rows

## Question 3 : Select opening, closing and volume for record with closing less than 500

In [11]:
q3_df = df.where(df["Close"]<500).select("Open","Close","Volume")
show_dataframe_info(q3_df,30)

Schema:
root
 |-- Open: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: long (nullable = true)

Number of Rows: 1359
First Few Rows:
+---------+---------+---------+
|     Open|    Close|   Volume|
+---------+---------+---------+
|   213.43|   214.01|123432400|
|214.59999|214.37999|150476200|
|214.37999|   210.97|138040000|
|   211.75|   210.58|119282800|
|210.29999|211.98001|111902700|
|    212.8|   210.11|115557400|
|   209.19|   207.72|148614900|
|207.87001|210.65001|151473000|
|   210.11|   209.43|108223500|
|   210.93|   205.93|148516900|
|   208.33|   215.04|182501900|
|   214.91|   211.73|153038200|
|212.07999|208.06999|152038600|
|   206.78|   197.75|220441900|
|   202.51|   203.07|266424900|
|   205.95|   205.94|466777500|
|206.84999|   207.88|430642100|
|204.93001|   199.29|293375600|
|   201.08|   192.06|311488100|
|   192.37|   194.73|187469100|
|   195.91|   195.86|174585600|
|   195.17|   199.23|153832000|
|   196.73|   192.05|189413000|
|   192.63|   195.46|212576700|
|   195.69|   194.12|119567700|
|   196.42|   196.19|158221700|
|   195.89|195.12001| 92590400|
|   194.88|   198.67|137586400|
|   198.11|200.37999|163867200|
|   201.94|    203.4|135934400|
+---------+---------+---------+
only showing top 30 rows

## Question 4 : records with opening price more than 200 and closing price less than 200.

In [28]:
q4_df = df.filter((df["Open"] > 200) & (df["Close"] < 200))
show_dataframe_info(q4_df)

Schema:
root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: float (nullable = true)

Number of Rows: 3
First Few Rows:
+----------+---------+-----+------+------+---------+---------+
|      Date|     Open| High|   Low| Close|   Volume|Adj Close|
+----------+---------+-----+------+------+---------+---------+
|2010-01-22|   206.78|207.5|197.16|197.75|220441900|25.620401|
|2010-01-28|204.93001|205.5| 198.7|199.29|293375600|25.819921|
|2010-01-29|   201.08|202.2|190.25|192.06|311488100|24.883207|
+----------+---------+-----+------+------+---------+---------+

## Question 5 : Extract the year from the date and save it in a new column.

In [29]:
q5_df = df.withColumn('year', year(df['Date']))
show_dataframe_info(q5_df)

Schema:
root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: float (nullable = true)
 |-- year: integer (nullable = true)

Number of Rows: 1762
First Few Rows:
+----------+---------+---------+---------+---------+---------+---------+----+
|      Date|     Open|     High|      Low|    Close|   Volume|Adj Close|year|
+----------+---------+---------+---------+---------+---------+---------+----+
|2010-01-04|   213.43|    214.5|   212.38|   214.01|123432400| 27.72704|2010|
|2010-01-05|214.59999|   215.59|   213.25|214.37999|150476200|27.774977|2010|
|2010-01-06|214.37999|   215.23|   210.75|   210.97|138040000|27.333178|2010|
|2010-01-07|   211.75|    212.0|   209.05|   210.58|119282800| 27.28265|2010|
|2010-01-08|210.29999|    212.0|   209.06|211.98001|111902700|27.464033|2010|
|2010-01-11|    212.8|    213.0|208.45001|   210.11|115557400|27.221758|2010|
|2010-01-12|   209.19|209.76999|   206.42|   207.72|148614900| 26.91211|2010|
|2010-01-13|207.87001|   210.93|204.09999|210.65001|151473000| 27.29172|2010|
|2010-01-14|   210.11|210.45999|   209.02|   209.43|108223500|27.133657|2010|
|2010-01-15|   210.93|211.59999|   205.87|   205.93|148516900|26.680199|2010|
+----------+---------+---------+---------+---------+---------+---------+----+
only showing top 10 rows

## Question 6 : show the minimum volumes traded for each year.

In [47]:
q6_df=q5_df.groupby("year").agg(min("Volume").alias("minVolume"))
q6_df.show()

+----+---------+
|year|minVolume|
+----+---------+
|2015| 13046400|
|2013| 41888700|
|2014| 14479600|
|2012| 43938300|
|2016| 11475900|
|2010| 39373600|
|2011| 44915500|
+----+---------+

## Question 7 : Show the highest low price for each year and month

In [56]:
q7_df=q5_df.groupby(["year",month(df["Date"])]).agg(min("Volume").alias("minVolume"))
show_dataframe_info(q7_df,84)

Schema:
root
 |-- year: integer (nullable = true)
 |-- month(Date): integer (nullable = true)
 |-- minVolume: long (nullable = true)

Number of Rows: 84
First Few Rows:
+----+-----------+---------+
|year|month(Date)|minVolume|
+----+-----------+---------+
|2012|         10| 92681400|
|2010|          7|105137900|
|2010|         12| 39373600|
|2015|          2| 37362400|
|2014|          4| 40586000|
|2015|         12| 13570400|
|2016|          7| 23779900|
|2016|         11| 11475900|
|2012|          8| 48734700|
|2013|          2| 80628800|
|2012|          4|101680600|
|2012|         12| 43938300|
|2014|         10| 34187700|
|2016|          5| 28719100|
|2014|         12| 14479600|
|2013|          9| 57010100|
|2013|         10| 62775300|
|2014|          5| 39934300|
|2016|          2| 27582700|
|2013|         12| 41888700|
|2014|          1| 57319500|
|2010|         11| 59396400|
|2011|          3| 68504800|
|2013|          3| 73573500|
|2014|          8| 28116000|
|2013|          6| 48756400|
|2010|          6|136439800|
|2012|          7| 60428200|
|2012|          9| 81718700|
|2015|          4| 25524600|
|2010|          5|113585500|
|2015|          8| 34560700|
|2016|          9| 24607400|
|2010|          9| 85639400|
|2011|          2| 64738800|
|2011|          4| 66636500|
|2011|         12| 44915500|
|2015|         11| 13046400|
|2011|          8|101317300|
|2016|         10| 20034600|
|2015|          9| 35756700|
|2013|          7| 49747600|
|2014|          9| 37299400|
|2013|          4| 59653300|
|2014|          3| 42167300|
|2015|         10| 29759200|
|2016|          6| 20848100|
|2013|         11| 48479200|
|2011|          5| 50899800|
|2013|          5| 69041700|
|2011|          7| 88763500|
|2010|          8| 72274300|
|2016|         12| 14249500|
|2014|          2| 57988000|
|2012|         11| 68206600|
|2016|          1| 49154200|
|2016|          4| 23581700|
|2014|          6| 29726000|
|2011|          6| 68772200|
|2010|         10| 93194500|
|2015|          3| 31666300|
|2010|          2| 92590400|
|2010|          3| 85527400|
|2011|         11| 63690200|
|2012|          1| 53146800|
|2015|          7| 27211000|
|2012|          2| 46699100|
|2014|         11| 24814400|
|2015|          6| 30268900|
|2010|          4| 76552700|
|2012|          3|101820600|
|2011|         10| 80710700|
|2012|          5| 82126800|
|2013|          1| 79833600|
|2013|          8| 51562700|
|2016|          8| 18660400|
|2015|          1| 40105900|
|2011|          1| 63879900|
|2015|          5| 30733300|
|2010|          1|108223500|
|2012|          6| 50749300|
|2011|          9| 85931300|
|2014|          7| 22891800|
|2016|          3| 19411400|
+----+-----------+---------+

## Question 8 : Mean and standard deviation of high price over the whole data frame.

In [61]:
q8_df = df.agg(stddev("High").alias("Stddev High Price"),mean("High").alias("Mean High Price"))
show_dataframe_info(q8_df)

Schema:
root
 |-- Stddev High Price: double (nullable = true)
 |-- Mean High Price: double (nullable = true)

Number of Rows: 1
First Few Rows:
+-----------------+-----------------+
|Stddev High Price|  Mean High Price|
+-----------------+-----------------+
|186.8981766989906|315.9112879420788|
+-----------------+-----------------+

## Main Task

## Questions
### 1. Read about how Spark and Hadoop work. What does the term ‘lazy evaluation’ mean for them? Explain with a simple example